@page "/random"
<h1>Random generator</h1>

<button class="btn btn-primary" @onclick="GenerateRandomNumber">Generate random number</button>

@code {
    private int? CurrentRandomNumber = null;

    private void GenerateRandomNumber()
    {

    }
}
