@page "/random"
@using Microsoft.Extensions.Configuration;
@inject HttpClient HttpClient
<h1>Random generator</h1>

<button class="btn btn-primary" @onclick="GenerateRandomNumber">Generate random number</button>
@if (isRandomNumberRequesting)
{
    <p>Generated random number: Loading...</p>
}
else
{
    <p>Generated random number: @currentRandomNumber</p>
}


@code {
    private int? currentRandomNumber = null;

    private bool isRandomNumberRequesting = false;

    private async Task GenerateRandomNumber()
    {
        isRandomNumberRequesting = true;
        var randomIntegerJsonModel = await HttpClient.GetFromJsonAsync<GetRandomIntegerJsonModel>("/random/integer");
        currentRandomNumber = randomIntegerJsonModel.Value;
        isRandomNumberRequesting = false;
    }
}

